.btn1 {
    width: 150.81px;
    border: none;
    height: 50px;
    background: #2C2C2C;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}