.title_1 {
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 20px;
    margin-top: 70px;
}
@media screen and (max-width: 567px) {
    .title_1 {
        font-weight: 300;
        font-size: 54px;
        line-height: 54px;
        color: #BDBDBD;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px) {
    .title_1 {
        font-weight: 300;
        font-size: 34px;
        line-height: 34px;
        color: #BDBDBD;
        margin-top: 100px;
        margin-bottom: 20px;
    }
}