.navbar-nav a,.navbar-nav span {
    text-decoration: none;
    padding-top: 0;
    margin-left: 5px;
    color: rgba(0,0,0,.55);
}


nav-item:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #F1C40F;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav-item:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}